html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}

header, body {
    background-color: azure;
}

body {
    margin-bottom: 60px;
    
}

.is-available{
    font-weight: bold;
    color: green;
}

.not-available {
    font-weight: bold;
    color: red;
}