@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the Music Room Manager</h2>
    <h2>Please log in to continue</h2>
    <img src="img/guitar-store.jpg" alt="guitar store image" />
</div>



