@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h2 class="display-4">Welcome to the Music Room Manager</h2>
    
 



    <a style="margin-top: 50px; width: 250px; height:100px; padding-top:25px; font-size:32px;" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    
    
    


    @*<img src="img/guitar-store.jpg" alt="guitar store image" />*@
</div>





